<form [formGroup]="classForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Class ID</label>
      <input type="text" class="form-control" formControlName="classId" />
      <div *ngIf="classForm.get('classId')?.invalid && classForm.get('classId')?.touched" class="text-danger mt-1">
        Class ID is required and max 10 characters.
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Class Name</label>
      <input type="text" class="form-control" formControlName="className" />
      <div *ngIf="classForm.get('className')?.invalid && classForm.get('className')?.touched" class="text-danger mt-1">
        Class Name is required and max 50 characters.
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Major</label>
      <select class="form-select" formControlName="majorId">
        <option value="">Select Major</option>
        <option *ngFor="let major of majors" [value]="major.majorCode">{{ major.majorName }}</option>
      </select>
      <div *ngIf="classForm.get('majorId')?.invalid && classForm.get('majorId')?.touched" class="text-danger mt-1">
        Major is required.
      </div>
    </div>


    <div class="col-md-6 mb-3">
      <label class="form-label">Academic Year</label>
      <input type="text" class="form-control" formControlName="academicYear" />
      <div *ngIf="classForm.get('academicYear')?.invalid && classForm.get('academicYear')?.touched"
        class="text-danger mt-1">
        Academic Year is required and max 20 characters.
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Homeroom Teacher</label>
      <select class="form-select" formControlName="homeroomTeacher">
        <option value="">Select Lecturer</option>
        <option *ngFor="let lecturer of lecturers" [value]="lecturer.userId">{{ lecturer.fullName }}</option>
      </select>
      <div *ngIf="classForm.get('homeroomTeacher')?.invalid && classForm.get('homeroomTeacher')?.touched"
        class="text-danger mt-1">
        Homeroom Teacher is required.
      </div>
    </div>


    <div class="col-md-6 mb-3">
      <label class="form-label">Class Size</label>
      <input type="number" class="form-control" formControlName="classSize" />
      <div *ngIf="classForm.get('classSize')?.invalid && classForm.get('classSize')?.touched" class="text-danger mt-1">
        Class size is required and must be a number.
      </div>
    </div>
  </div>

  <div class="text-end mt-4">
    <button type="button" class="btn btn-light" (click)="classForm.reset()">Reset</button>
    <button type="submit" class="btn btn-warning ms-2" [disabled]="classForm.invalid">Create Class</button>
  </div>
</form>